@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
.image {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  font-family: "Open Sans Condensed", sans-serif;
}

.image img {
  width: 250px;
}

.image h6 {
  margin-left: 25px;
  margin-bottom: 2px;
}

.image span {
  margin-left: 25px;
}
