@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Open+Sans+Condensed:wght@300;700&display=swap");

Tab {
  font-family: "Metal Mania", cursive;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 50px;
}

.header {
  font-family: "Metal Mania", cursive;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 88px;
}
